*{
    font-family: poppins;
    margin: 0 auto;
    box-sizing: border-box;

}
header{
    background-color: rgb(238, 238, 238);
    
}

.container{
    width: 1200px;
}
/* =========header section========= */

nav {
    display: flex;
    justify-content: space-between;
    
}
.logo {
    max-height: 80px;
    width: 15%;
    margin-left: 0;
    margin-top: 5px;
}
.logo img {
    width: 100%;
}
.nav-menu{
    width: 80%;

}
ul{
    height: 80px;

}
ul li {
    display: inline-block;
    text-decoration: none;
    padding: 30px 15px;


}
ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #A001FF;
}
.button{
    text-decoration: none;
    padding: 13px 30px 3px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #A001FF;
    color: #fff;
    margin: 15px ;
    border-radius: 5px;
}

/* =========/header section========= */

/* =========hero section========= */
.flexible-container{
    display: flex;
    justify-content: space-between;
}
.halfwidth{
    width: 50%;
}
.text{
    margin-top: 200px;

}
.text-design{
    color: #CF00FF;
}
p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    text-align: justify;
}
h1{
    font-size: 50px;
    
}
.line{
    border-bottom: 3px solid black;
    width: 80px;
    margin: 15px 0 25px;
    
    
}
h2{
    font-size: 30px;
}
.image img {
    width: 100%;
}
.cta{
    text-decoration: none;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    background-color: #A001FF;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    border: none;
} 
.cta {
    cursor: pointer;
}   

/* =========/hero section========= */
/* =========about me section========= */
.aboutMe{
    margin-top: ;
    background-color: rgb(248, 248, 248);
}
.imgTwo{
    width: 100%;
}
.txtTwo{
    padding: 70px 20px 70px 170px;
}
/* =========/about me section========= */

/* =========expertise section========= */
.expertise{
    margin: 100px 0;
}
.text-section{
    width: 50%;
    padding: 50px;
}
.text-section h1 {
    margin-bottom: 10px;
}
#expert{
    text-align: center;
    
}
#expert-line{
    margin: 10px auto 30px;
}
h2{
    font-weight: 600;
}
.progress-section{
    width: 50%;
    padding: 50px;
}
.progress{
    width: 100%;
    height: 20px;
    background-color: #a201ff67;
}
.progress-fill{
    width: 60%;
    height: 20px;
    background-color: #A001FF;
    margin: 15px 0;

}
.lang{
    margin-bottom: 40px;
    color: #CF00FF;
}
#css{
    width: 70%;
    height: 20px;
    background-color: #A001FF;
}
#js{
    width: 50%;
    height: 20px;
    background-color: #A001FF;
}

/* =========/expertise section========= */

/* =========Contact section========= */

.contact{
    background-color: rgb(243, 243, 243);
    margin: 100px 0;
}
.contact-box{
    width: 100%;
    height: 80%;
    background-color: white;
    margin: 100px auto;
    
}
.adress{
    width: 50%;
    background-color: #CF00FF;
}
.address-text{
    padding: 70px 50px;
    color: white;
}
.form{
    width: 50%;
    padding: 50px;
}
.input-item{
    width: 100%;
    margin: 20px 0 20px;
    border: none;
    border-bottom: 2px solid rgb(175, 175, 175);
}
#contact-buton{
    width: 100%;
    border-radius: 0%;
    background-color: #CF00FF;
}
#getInTouch{
    margin-top: 200px;
    text-align: center;
}

/* =========/Contact section========= */

